.pb-review-one {
    width: 100%;
    padding: 10px;
    display: flex;
  
    @media only screen and (max-width: 549px) {
      flex-direction: column;
    }
    &__left {
      width: 10%;
      min-width: 80px;
      padding: 0px 10px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      justify-content: center;
      @media only screen and (max-width: 549px) {
        width: 100%;
      }
    }
    &__right {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0px 10px;
      @media only screen and (max-width: 549px) {
        width: 100%;
        justify-content: center;
      }
    }
    // old img.pobo-rv-img{
    &__img {
      width: 100%;
      max-width: 50px;
    }
    // old .pobo-rv-h2
    &__header {
      font-size: 30px;
      font-weight: 500;
      padding: 8px 0px;
      margin: 0px;
    }
    // old .pobo-rv-text
    &__text {
      font-size: 18px;
      line-height: 1.3;
    }

    &__number{
        font-size: 40px;
        line-height: 0.8;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }
  }
  