*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body{
    max-width: 1200px;
    margin: auto;
}

.pobo-review-one{
    width: 100%;
    padding: 10px;
    display: flex;
    font-family: 'Roboto', sans-serif;

    &__left{
       width: 10%;
       min-width: 80px;
        padding: 0px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
}

 img.pobo-rv-img{
    width: 100%;
    max-width: 50px;
}

.pobo-rv-number{
    font-size: 40px;
    line-height: 0.8;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.pobo-review-one{
    width: 100%;
    padding: 10px;
    display: flex;

    &__right{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px 10px;
    }

}

.pobo-rv-h2{
    font-size: 30px;
    font-weight: 500;
    padding: 8px 0px;
}

.pobo-rv-text{
    font-size: 18px;
    line-height: 1.3;
}

@media only screen and (max-width: 549px) {
    .pobo-review-one{
        flex-direction: column;
        &__left{
            width: 100%;
        }

        &__right{
            width: 100%;
            justify-content: center;
        }
    }
}
