*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pb-evaluation-two{
    margin: auto;
    width: 100%;
    font-family: "Roboto",sans-serif;

    &__title{
        width: 100%;
        padding: 30px 20px;
        background: white;
    }

    &__contents{
        width: 100%;
        display: flex;
        padding: 0px 30px;
        flex-direction: row;
        @media only screen and (max-width: 830px) {
            flex-direction: column;
            padding: 10px;

         }
    }

    &__obl-single{
       width:50%;
        display: flex;
        flex-direction: column;
        margin: 20px;

        @media only screen and (max-width: 830px) {
            width: 100%;
            margin: 30px 0px;
            padding: 0px;
        }
    }

    &__single{
        width: 100%;
        margin-left: 20px;
        border: 1px solid black;
        padding: 30px;  
        
        @media only screen and (max-width: 830px) {
            margin: 0px;
        }

    }

    &__logo{
        margin: -55px auto 0 auto;
        display: block;
        max-width: 200px;
        width: 100%;
        background: white;
    }

    &__text-in{
        padding-top: 10px;
        padding-right: 20px;
        padding-left: 20px;
        margin-top: 20px;
        display: block;
        font-size: 20px;
        line-height: 1.7;
        font-style: italic;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }

    &__header{
        text-align: center;
        margin: 30px 0;
        font-weight: 400;
    
        &:before{
            background: black;
            content: "";
            width: 100%;
            height: 1px;
            display: block;
            margin-bottom: -24px;
        }
    }

    &__span{
        font-size: 30px;
        background: white;
        padding: 0 20px;
    }
    

    &__button{
        width: 100%;
        margin: 5px 20px;
        display: flex;
        justify-content: flex-end;
        @media only screen and (max-width: 830px) {
            margin: 5px 0px;
        }
        &__btn{
            background: rgb(46, 46, 46);
            display: block;
            padding: 5px 10px;
            & a{
                color: rgb(240, 240, 240);
                text-decoration: none;
            }
        }
    
        
    }

  
}





